
/*JQUERY CONTACTANOS.html*/

@media screen and (max-width:600px){

main div div div iframe{
    width: auto;
    height: auto;
}

}

/*JQUERY PROMOCIONES.html*/


@media screen and (max-width:600px){

.carousel-inner img {
    width: 100%;
    height: 100%;
  }

}
